# =====================================
# PYTHON / DJANGO
# =====================================
_pycache_/
*.py[cod]
*.pyo
*.pyd
*.so

# =====================================
# VIRTUAL ENVIRONMENTS
# =====================================
venv/
.venv/
env/
env.bak/
*.env
*.env.local
venv-*/

# =====================================
# DJANGO FILES
# =====================================


# =====================================
# LOGS
# =====================================
*.log

# =====================================
# OS / EDITOR FILES
# =====================================
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Pycharm
.idea/

# =====================================
# BYTECODE & CACHE
# =====================================
*.egg-info/
.eggs/
.cache/